.card-pokemon {
    min-width: 100px;
    border: 8px solid black;
    
    img {
        display: block;
        margin: auto;
        width: 80%;
        border: 4px solid black;
    }
    
    small {
        display: block;
        font-size: 16px;
        margin-top: 2px;
    }
    
    .list-group > li {
        background: lightblue;
        border-top: 2px solid black;
    }
  }
  .card-fire {
    background-color:  lightblue;
  }